body {
    font-family: Arial, sans-serif;
    background-color: #e67878;
    text-align: center;
    margin: 50px;
}

h1 {
    color: #f5eded
}

#taskInput {
    padding: 10px;
    width: 500px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 15px;
    margin: 5px;
    text-shadow: 0px 1px;
}

ul {
    list-style-type: none;
    padding: 5;
    margin: 20px 0;
}

li {
    background-color: #ee9999;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    text-shadow: 1px 1px;

}

.delete-btn {
    background-color: #e74c3c;
    color: #f5a6a6;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}